<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
</head>
<body>
    <div class="d-flex justify-content-center">
 <h1 style="font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 10px;
    width:770px;
    position: relative;
    margin-top: 4%;
    margin-bottom: 6%;
    color: black;
    background-color: white;
    text-align: center;
    opacity: 0.8;
   border-radius: 30px;"> {{title}}</h1>
    </div>
<div class="d-flex justify-content-center">
  <div class="my-table">
<table id="my-table" class="display">
    <thead class="thead">
        <tr>
            <th>Roll-No.</th>
            <th>class</th>
            <th>Name</th>
            <th>Maths mark</th>
            <th>Science mark</th>
           
        </tr>
    </thead>
    <tbody>
    {{#each data}}
       
      
       <tr>  

    <td>
     {{this.rollno}} 
    </td>
    
    <td >{{this.class}}  </td>
    <td> {{this.name}} </td>
    <td>
        {{this.maths}} 
    </td>
    <td>
        {{this.science}}
    </td>
       
       
    </tr>
     {{/each}}
    </tbody><br>
</table>
   </div>

</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>


<script>
    $(document).ready( function () {
    $('#my-table').DataTable();
} );
</script>
</html>





